<div class="ui card" style="margin:0 auto">
    <div class="image">
        <img class="sidebar-avatar" src="https://moetu.fastmirror.org/images/2018/06/12/113CC6E1-FFE9-4C03-8EDA-905A681B7B0D8bd0b260fdbaef40.jpg">
    </div>
    <div class="content">
        <a class="header"><%= config['wiki'].author %></a>
        <div class="meta">
            <span class="date"><%= config['wiki'].email %></span>
        </div>
        <div class="description">
            FE | Ailurophile | Open Source
        </div>
    </div>
    <div class="extra content" style="text-align: center">
        <a href="https://github.com/blacate" class="item">
            <i class="github icon large"></i>
        </a>
        <a href="https://plus.google.com/110495849647369930086" class="item">
            <i class="google icon large"></i>
        </a>
        <a href="https://twitter.com/blacate1" class="item">
            <i class="twitter icon large"></i>
        </a>
    </div>
</div>
